@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work-sans';
  src: url('../public/Fonts/work-sans/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}





@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin-sans';
  src: url('../public/Fonts/josefin-sans/JosefinSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

